.layout-wrapper {

  :global {
    .basic-layout {
      height: calc(100vh - 50px);
      overflow: hidden;

      .basic-layout-content {
        padding: 24px;
        overflow: hidden;

        .basic-layout-breadcrumb {
          height: 22px;
          margin-bottom: 8px;
        }

        .basic-layout-body {
          height: calc(100% - 30px);
          width: 100%;
          overflow: hidden;
        }
      }
    }

  }
}