.basic-layout-header {
  height: 50px;
  line-height: 50px;
  background: rgb(6, 22, 41);

  :global {
    .left-menu {
      flex: 1;
      margin-right: 32px;
      background: transparent;
    }
  }
}