.basic-layout-sider {
  width: 54px !important;
  min-width: 54px !important;
  max-width: 54px !important;
  background: #273142;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  :global {
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-top: 16px;

      .sider-icon {
        width: 43px;
        height: 37px;
      }

      .ant-menu {
        flex: 1;
        background: transparent;
        padding: 32px 0;

        .ant-menu-item {
          height: 64px;
          line-height: 40px;
          padding: 16px 8px !important;
          margin-bottom: 24px;

          .ant-menu-title-content {
            width: 30px;
            height: 30px;

            .anticon {
              font-size: 30px;
            }
          }
        }
      }

      .sider-bottom {
        transform: rotate(270deg);
        font-style: normal;
        color: #fff;
        margin-bottom: 80px;
        justify-content: center;

        .sider-bottom-title {
          font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
          font-weight: 700;
          font-size: 32px;
          line-height: 27px;
        }

        .sider-bottom-label {
          font-family: 'PingFangSC-Regular', 'PingFang SC', sans-serif;
          font-weight: 400;
          font-size: 20px;
          line-height: 20px;
        }
      }

      .setting-icon-box {
        width: 54px;
        height: 64px;
        cursor: pointer;
        transition: background-color 1s;

        &:hover {
          background: rgba(9, 109, 217, .5);
        }

        .bottom-setting-icon {
          font-size: 30px;
        }
      }
    }
  }
}
