:global {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .ant-layout {
    height: 100vh;
    overflow: hidden;
  }

  .ant-layout-sider {
    background: #fff;
  }

  .ant-spin-nested-loading {
    height: 100%;
    width: 100%;

    .ant-spin-container {
      height: 100%;
      width: 100%;
    }
  }

  .flex-box {
    display: flex;
    display: -ms-flex;
    -webkit-align-items: center;
    align-items: center;
  }

  .flex-box-start {
    display: flex;
    display: -ms-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }

  .flex-box-column {
    display: flex;
    display: -ms-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
  }

  .flex-box-align-end {
    display: flex;
    display: -ms-flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }

  .flex-box-justify-end {
    display: flex;
    display: -ms-flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  .flex-box-justify-between {
    display: flex;
    display: -ms-flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .flex-box-center {
    display: flex;
    display: -ms-flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
  }

  .only-show-two-line {
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /*控制文字行数*/
  }

  .only-show-two-line-ie {
    max-height: 38px;

    span {
      line-height: 19px;
    }
  }

  .operation-line {
    height: 100%;
    color: #e9e9e9;
    margin: 0 5px;
  }
}